

body{
   height:100%;
    display:inline;
    text-align: left;
    overflow: hidden;
    font-family: monospace;
    
}
canvas {
    background-color: white;
    border: 1vmin ridge black;
    padding: 0.5vmin;
}

.all{
margin-left: 1vmin;
}

.pause{
position: absolute;
z-index: 1;
display: block;
visibility: hidden;
color:white;
border-color: white;
border-style: solid;
background-color: black;
margin:1vmin;
font-size: 2.5vmin;
padding: 2vmin;
}

.second{
position:absolute ;
margin-left: 1vmin;
display:inline;
}


label{
    position: absolute;
    border: 1vmin ridge black;
    padding: 1vmin;
    font-size: 2vmin;
}

#preview{
    margin-top: 8vmin;
}

#score{
    margin-top: 1vmin;
    position: absolute;
    display: block;
}

#buttons{
    margin-top: 1vmin;
    position: absolute;
    display: block;

}

button{

    padding: 1.5vmin;
    border: 1vmin ridge black;
    color: white;
    background-color: black;
    margin: 1vmin;
}